@import url('https://fonts.googleapis.com/css?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

$main-yellow: rgb(214, 228, 18);

html {
  background-image: url(https://i.stack.imgur.com/UJur5.png) !important;
  animation: move-space infinite 60s linear;
}

body {
  font-family: 'Fira Code', monospace;
  font-size: 16px;
}

.App {
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  color: black;
  padding: 0 40px;
}

.App-header {
  font-family: 'Bungee Outline', cursive;
  font-size: calc(10px + 2vmin);
  color: $main-yellow;
  text-shadow: 1px 1px 1px rgba(white, 0.7);
  animation: App-header-blink infinite 10s linear;

  h1 {
    margin-bottom: 10px;
  }
}

.resume {
  color: white;
}

.button {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  background: #5b13ec;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  transform: scale(1);
  transition: all 0.4s;

  &:active {
    transform: scale(0.8);
  }

  &:disabled {
    background: lighten($color: #5b13ec, $amount: 20%);
  }
}

.toggle-form {
  background: $main-yellow;
  transform: scale(1);
  transition: all 0.4s;
  font-size: 1.1rem;
  font-family: 'Fira Code', monospace;
  padding: 8px 15px;

  &:active {
    transform: scale(0.8);
  }
}

@keyframes App-header-blink {
  from {
    text-shadow: 1px 1px 1px rgba(white, 0.7);
  }
  to {
    text-shadow: none;
  }
}

@keyframes move-space {
  from {
    background-position: 100px 50px;
  }
  to {
    background-position: 500px 50px;
  }
}
