$purple: #5b13ec;
$white: #ffffff;

.plateau {
  justify-content: center;
  position: relative;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  color: $white;

  .tile {
    width: 100px;
    height: 100px;
    box-shadow: 1px -1px, -1px 1px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWAgH171cZ6dbemPbqWWCch4VJp_xs1gLbi8sj7qesMaNJMrOD);
    background-color: #cd5c5c;
  }
}
