.plateau-data {
  display: flex;

  label {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 15px;

    span {
      margin-bottom: 15px;

      b {
        font-size: 11px;
      }
    }

    input {
      padding: 15px;
      font-size: 1.1rem;
    }
  }
}

.rover-data {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .next-steps-resume {
    position: relative;
    top: -10px;
  }
}
