.rover {
  border: 2px solid;
  border-radius: 50%;
  padding: 5px;
  background: white;
  position: relative;

  &.rotate-0 {
    transform: rotate(0deg);
  }
  &.rotate-90 {
    transform: rotate(90deg);
  }
  &.rotate-180 {
    transform: rotate(180deg);
  }
  &.rotate-270 {
    transform: rotate(270deg);
  }

  &-image {
    width: 40px;
    height: 40px;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -32px;
    left: 5px;
    border-bottom: 20px solid white;
    border-top: 20px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }
}
